{% extends "layout.html" %}

{% block pageTitle %}
  We reviewed your submission
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="/dashboard">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Next steps:
      </h1>

      <p class="govuk-body-l">A verifier needs to approve your submissions. We have notified them about this. </p>


    </div>
  </div>



{% endblock %}
